.container {
	position: relative;
	height: 190px;
	background-color: hsl(310, 50%, 50%);
}

.box {
	position: absolute;
	left: 60px;
	height: 30px;
	width: 30px;
	background-color: hsl(130, 50%, 50%);
}
.box-1 {
	transition: all 1s linear;
}
.box-2 {
	top: 40px;
	transition: all 1s ease-in;
}
.box-3 {
	top: 80px;
	transition: all 1s ease-out;
}
.box-4 {
	top: 120px;
	transition: all 1s ease-in-out;
}

.box-0 {
	position: absolute;
	left: 60px;
	top: 160px;
	height: 30px;
	width: 30px;
	background-color: hsl(130, 50%, 50%);
	transition: all 1s steps(3);
}

.container:hover .box,
.container:hover .box-0 {
	left: 400px;
}