.fade {
	height: 100px;
	width: 400px;
	background-image: linear-gradient(to right, white, blue);
}

.fade-1 {
	height: 100px;
	width: 400px;
	background: linear-gradient(90deg, red, white, blue);
}

.fade-2 {
	height: 100px;
	width: 400px;
	background-image: linear-gradient(90deg, red 40%, white 40%, white 60%, blue 60%);
}

.fade-3 {
	margin-top: 10px;
	height: 1em;
	width: 400px;
	background-image: repeating-linear-gradient(-45deg, #57b, #57b 10px, #148 10px, #148 20px);
	border-radius: 0.3em;
}